.about {

    &-section {
        margin-bottom: 110px;
    }

    &__title {
        width: 45%;
        font-size: 42px;
        line-height: 1.3;
        color: $blue;
        margin-bottom: 36px;
    }

    &__desc {
        width: 50%;
        font-size: 25px;
        line-height: 1.4;
        margin-bottom: 27px;
        color: #797A84;
    }
    
    &__block {
        margin-top: 119px;
    }

    &__list {
        display: flex;
    }

    &__item { 
        width:300px;
        padding: 35px;
        padding-right: 26px;
        height: 413px;
        margin-right: 46px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        filter: drop-shadow(0px 0px 10px rgba(6, 31, 67, 0.3));
        border-radius: 5px;       
        background: linear-gradient(180deg, rgba(9,46,98,1) 0%, rgba(65,124,209,1) 100%);        
        transition: background-color 1s ease-out 100ms;
        &:hover {
            background: $blueDark;
            transform: scale(1.2);   
        }

        &--title {
            color: $white;
            font-size: 24px;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        &--desc {
            color: rgba(253, 253, 253, 0.5);
            font-size: 14px;
            line-height: 1.4;
        }
        
        &:last-child{ 
            margin-right: 0;
        }

        &--row {
            display: flex;
            width: 100%;
            justify-content: flex-end;
        }

      

        &--link--icon{
            width: 16px;
            height: 19px;
            stroke: $white;
            fill: none;
            transform: rotate(-90deg);
            margin-left: 8px;
        }

    }
}