.footer {
    background-color:   #051A2C;
    height: 218px;
    padding-top: 47px;
    padding-bottom: 44px;

    &__title{
        margin-bottom: 50px;
        font-size: 24px;
        line-height: 29px;
        color: $white;
    }

    &__list {
        display: flex;
        width: 100%;
    }

    &__item {
        color: #8C8D98;
        margin-right: 40px;
        font-size: 16px;
      
        &:nth-child(1) {
            margin-right: 22px;
        }

        &--desc {
            width: 197px;
        }

        &:nth-child(3) {
            margin-right: 254px;
        }
        
        &--link {
            color: #8C8D98;
        }
    }

}