.header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background: transparent;
    width: 100%;
    position: absolute;
 
    &__wrapper{
        max-width: $containerWidth;
        width: 100%;
        display: flex;
        
        align-items: center;
        padding: 27px 35px 27px 50px;
    }
   
    .logo {
        position: relative;
        display: flex;
        align-items: center;
        color: $white;
        font-weight: 700;
        cursor: pointer;
        flex-shrink: 0;
        margin-right: 91px;

        &__img {
            margin-right: 10px;
        }

        &__icon {
            width: 40px;
            height: 40px;
            fill: $white;
        }

        &__link {
            font-size: 24px;
        }
    }

    &__nav {
        margin-right: 120px;
    }

    .search {
        display: flex;
        align-items: center;
    }

    &__btns{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}



.header.active{
    background-color: white;

    .menu__link {
        color: $baseColor;
        &:hover {
            color: $blue;

            .menu__link--icon {
           
                stroke: $blue;
            }
             
        }

          
    }

    .menu__link--icon {
        stroke:#797A84;

        &:hover {
            stroke: $blue;
        }
    }

    .logo {
     color: $blue; 
     
     &__icon {
         fill: $blue;
     }

     &__link {
        color: $blue;
     }
    }

    .btn{
        &__search--icon {
            stroke: $baseColor;

            &:hover {
                stroke:$blue;
            }
        }

        &__origin{
            color: $red;

            &:hover {
                color: $blueDark;
                border-color: $blueDark;
            }
        }

        &__buy{
            color: $white;
            background-color:#0F57BE;
            &:hover {
                color: $red;
                border-color: $red;
                background-color: $white;
            }
        }
    }
   

}

.header__fixed {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100000;
    background-color: white;
    filter: drop-shadow(0px 0px 10px rgba(6, 31, 67, 0.3));
    
    .menu__link {
        color: $baseColor;
        &:hover {
            color: $blue;

            .menu__link--icon {
           
                stroke: $blue;
            }
             
        }

          
    }

    .menu__link--icon {
        stroke:#797A84;

        &:hover {
            stroke: $blue;
        }
    }

    .logo {
     color: $blue; 
     
     &__icon {
         fill: $blue;
     }

     &__link {
        color: $blue;
     }
    }

    .btn{
        &__search--icon {
            stroke: $baseColor;

            &:hover {
                stroke:$blue;
            }
        }

        &__origin{
            color: $red;

            &:hover {
                color: $blueDark;
                border-color: $blueDark;
            }
        }

        &__buy{
            color: $white;
            background-color:#0F57BE;
            &:hover {
                color: $red;
                border-color: $red;
                background-color: $white;
            }
        }
    }
}

  