.menu {
    position: relative;
    
    @include tablets {
        display: none;
    }

    &__list {
        display: flex;
        width: 100%;
        align-items: center;
    }

    &__item {
        margin-right: 19px;
        font-weight: 500;

        &:nth-last-child(-n+2) {
            margin-right: 24px;
        }
    }

    &__link {
        padding: 0 0 23px;
        font-size: 18px;
        line-height: 1,5;
        color:$white;
        
        &--icon {
            width: 14px;
            height: 9px;
            stroke: $white;
            fill: none;
            margin-left: 8px;

           
        }

        &:hover {
            color: $red;  
            .menu__link--icon {
                stroke: $red; 
            }
        }
    }

    &__sub{

        &-content {
            overflow: hidden;
            font-size: rem(16px);
            height: 0;
            transition: height .3s;
            position: absolute;
            top: 100px;
            left:0;
            z-index: 10000;
            width:100vw;
            background-color: rgba(0,0,0, 0.4); 
            display: flex;
            justify-content: center;
        }

        &-block {
            width:100%;
            
            height: 251px;
            display: flex;
            background: $white;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-content: center;
            padding-left: 50px;
            padding-top: 50px;
        }       

        &-list {
            width: 100vw;
            height: 1000px;
            display: flex;  
        }
      
        &-item {
            margin-bottom: 30px;
            font-size: 18px;
            margin-bottom: 50px;
           
        }

        &-link {
            color: $baseColor;

            &:hover {
                color: $blue;
            }
        }
    }
}

.menu__item.active .menu__link {
    border-bottom: 2px solid $white;
    
    .menu__link--icon {
       transform: rotate(180deg);
    }

}

.menu__item.active html{
    overflow: hidden;
   
}

.menu__item.active .hero-section{
    overflow: hidden;
   
}