.navigation{
    width: 100%;
    padding-right: 0;
    margin-bottom: 120px;

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
        border-top: 1px solid $grey;
        padding: 25px 0;
        margin-right: 45px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 15px;
    }

  

    &__link {
        color: $baseColor;
        
        &--icon{
            width: 14px;
            height: 9px;
            stroke: $blue;
            fill: none;
            transform: rotate(-90deg); 
        }
    }
}