


.swiper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 67px;

    &-container {
      margin-bottom: 133px;
    }

    &-wrapper{
        display: flex;
    }
    
    &__title{
      font-size: 42px;
      line-height: 52px;
      width: 72%;
      margin-bottom: 40px;
    }

    &-slide {

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      filter: drop-shadow(0px 0px 10px rgba(6, 31, 67, 0.3));

      &__picture {
        width: 880px;
        height: 550px;
       
      }

      &__img {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

      }

      &__text {
        display: flex;
        text-align: left;
        align-items: flex-start;
        justify-content: left;
        flex-direction: column;
        width: 460px;
        height: 550px;
        padding: 45px;
        background: linear-gradient(180deg, rgba(9,46,98,1) 0%, rgba(65,124,209,1) 100%); 
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      &__desc {
        font-size: 25px;
        line-height: 34px;
        color: $white;
        margin-bottom: 20px;

      }

      &__data {
        font-size: 16px;
        color: #8EA9D0;
        margin-bottom: 40px;
      }

      &__link {
        font-size: 18px;
        position: relative;

        &::before {
          content: url('../img/strelka.svg');
          position: absolute;
          right: -20px;
        }
      }
    }

    &__link {
      position: absolute;
      color: $blue;
      font-size: 19px;
      line-height: 18px;
      font-weight: 500;
      top: 1%;
      right: 50px;
    }
}

.swiperSmall-container {
    padding-right: 0;
    margin-bottom: 120px;
    @media (min-width:1491px) {
      padding-right: 50px;
    }
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 879px;
  height: 575px;
  filter: drop-shadow(0px 0px 10px rgba(6, 31, 67, 0.3));
  border-radius: 5px;       
  background: linear-gradient(180deg, rgba(9,46,98,1) 0%, rgba(65,124,209,1) 100%);
  padding: 59px 97px 64px 110px;
    &__user {
      display: flex;
      
      margin-bottom: 80px;
    }

    .user {

      &__text {
        width: 446px;
        margin-right: 135px;
      }

      &__name {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
        color: $white;
        text-transform: uppercase;
      }

      &__desc {
        color:  #557EB8;
        font-size: 14px;
        line-height: 18px;
      }

      &__avatar {
        width: 89px;
        height: 89px;
      }

      &__img {
        border-radius: 50%;
      }

      &__comment {
        width:610px;
        font-size: 31px;
        line-height: 42px;
        color: #9FB7DB;
        margin-bottom: 52px;
      }
    }

    &__links {
      width: 100%;
      display: flex;
      justify-content: space-between;
  }

    &__link {
      font-size: 19px;

      &--icon {
        width: 14px;
        height: 8px;
        stroke: $white;
        fill: none;
        margin-right: 8px;
        transform: rotate(-90deg); 
      }
    }
}

.swiper-button{
  color: $blue;
  width: 17px;
  height: 28px;
  top: 5%;
  &::after {
    font-size:  22px;
  }

  &-small {
    top: 3%;
  }
}

.swiper-button-next{
  left: 58px; 
}

.swiper-button-prev{ 
  left: -2px;
  color: $blue;
}

.swiperSmall {
  padding-top: 64px;
}