//px
$containerWidth: 1440px;
$baseFontSize: 18px;
$tablets: 768px;
$phones: 480px;

//colors
$baseColor: #252627;
$grey: #DADCE7;
$white: #fff;
$red:#DF0050;
$green: #06945b;
$greenLight:#68e5a2;
$yellow:#fae053;
$beige:#f1b280;
$blue: #1E5AAF;
$blueDark: #0F3974;


//fonts
